<% include ./_header %>
<% include ./_flash %>

<form action="/create-post" method="POST">
    <label>
        Event Name
        <input type="text" name="title">
    </label>
    <label>
        Description
        <textarea name="content"></textarea>
    </label>
    <button>Create Post</button>
</form>

<nav>
    <a href="/posts">All Events</a>
</nav>

<% include ./_footer %>