<% include ./_flash %>

<form action="/create-post" method="POST">
    <label>
        Title
        <input type="text" name="title">
    </label>
    <label>
        Content
        <textarea name="content"></textarea>
    </label>
    <button>Create Post</button>
</form>