<% include ./_header %>
<% include ./_flash %>

<form action="/eedit" method="POST">
    <h2>Entrepreneur Profile</h2>
    <label>
        Company Name
        <input type="text" name="cname">
    </label>
    <label>
        Industry
        <input type="text" name="industry">
    </label>
    <label>
        Investment Seeking
        <input type="text" name="seek">
    </label>
    <label>
        Company Description
        <textarea name="cdescription"></textarea>
    </label>
    <label>
        Profile Picture Link
        <input type="text" name="image">
    </label>
    <label>
        Website
        <input type="text" name="website">
    </label>
    <label>
        Revenue
        <input type="text" name="revenue">
    </label>
    <label>
        Location
        <input type="text" name="location">
    </label>
    <button>Create Profile</button>
</form>

<nav>
    <a href="/">Home</a>
</nav>

<% include ./_footer %>