<% include ./_header %>
<% include ./_flash %>

<h2>Login to your account</h2>
<form action="/login" method="POST">
    <label>
        Username
        <input type="text" name="username">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    <button>Login</button>
</form>

<nav>
    <a href="/register">Register an account</a>
</nav>

<% include ./_footer %>