<% include ./_header %>
<% include ./_flash %>

<h2>Register an account</h2>
<form action="/register" method="POST">
    <label>
        Username
        <input type="text" name="username">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    <button>Register</button>
</form>

<nav>
    <a href="/login">Login</a>
</nav>

<% include ./_footer %>